@model List<ChameleonPhotoredactor.Models.Entities.Image>

@{
    ViewData["Title"] = "Editor Page";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="content-container_library">
    <div class="bottom_library">
        <div class="bottom_info-container">
            <h4>Note: For editing new photo you need import it first</h4>
        </div>

        <div class="button-import-container">

            <form asp-controller="Library" asp-action="ImportImage" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="file" style="display:none;" accept="image/*" />

                <button class="library_button-import import-btn" type="button" id="uploadBtn">
                    <span class="text-import_a">Import</span>
                    <span class="material-symbols-outlined icon_upload" style="font-size: 24px">
                        upload
                    </span>
                </button>
            </form>
        </div>


    </div>

    <div class="image_grid_container">
        @if (Model != null && Model.Any())
        {
            @foreach (var img in Model)
            {
                var base64 = Convert.ToBase64String(img.ImageData);
                var imgSrc = String.Format("data:{0};base64,{1}", img.ImageType, base64);
                <div class="library_item_container" onclick="selectImage(this)">
                    <div class="library_item"  data-id="@img.ImageId" >
                        <img src="@imgSrc" alt="@img.ImageName"/>
                    </div>

                    <div class="library_caption">
                        <h4>@img.ImageName</h4>
                        <h6>Updated: @img.</h6>
                    </div>
                </div>
                
                
            }
        }
        else
        {
            <p style="color: #ccc; margin-top: 20px;">You haven't uploaded any photos yet.</p>
        }
    </div>

</div>

@section Scripts {
    <script src="~/js/Home.js"></script>
}
