<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Chameleon Editor</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/guest.css" />
    <link rel="stylesheet" href="~/css/editor.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <script src="~/js/site.js"></script>
</head>

<body>
    @Html.AntiForgeryToken()
    <div class="editor-layout">
        <nav class="editor-nav">

            <a asp-controller="Library" asp-action="Library"
               class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Library" &&
                                    ViewContext.RouteData.Values["action"]?.ToString() == "Library" ? "active" : "")">
                <div class="icon-container">
                    <span class="material-symbols-outlined" style="font-size: 24px;">arrow_back</span>
                </div>
                Back
            </a>

            <a asp-controller="FullEditor" asp-action="FullEditor"
               class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "FullEditor" &&
                                    ViewContext.RouteData.Values["action"]?.ToString() == "FullEditor" ? "active" : "")">
                <div class="icon-container">
                    <span class="material-symbols-outlined discover_tune-rotate" style="font-size: 24px;">discover_tune</span>
                </div>
                Edit
            </a>

            <a asp-controller="CropImage" asp-action="Crop"
               class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "CropImage" &&
                                   ViewContext.RouteData.Values["action"]?.ToString() == "Crop" ? "active" : "")">
                <div class="icon-container">
                    <span class="material-symbols-outlined" style="font-size: 24px;">crop</span>
                </div>
                Crop
            </a>

            <a id="export-nav-link" asp-controller="FullExport" asp-action="FullExport"
               class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "FullExport" &&
                                                   ViewContext.RouteData.Values["action"]?.ToString() == "FullExport" ? "active" : "")">
                <div class="icon-container">
                    <span class="material-symbols-outlined" style="font-size: 24px;">download</span>
                </div>
                Export
            </a>
        </nav>

        <div class="toolbar_baseEditor">
            <div class="editor-nav_tools">
                <a asp-controller="Account" asp-action="Login"
                   class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Account" &&
                                                                      ViewContext.RouteData.Values["action"]?.ToString() == "Login" ? "active" : "")">
                    <div class="icon-container2">
                        <span class="material-symbols-outlined" style="font-size: 24px;">search</span>
                    </div>
                    0,00%
                </a>

                <a>
                    <div class="icon-container2">
                        <span class="material-symbols-outlined" style="font-size: 24px;">compare</span>
                    </div>
                </a>
            </div>
        </div>

        <main class="guest-main">
            @RenderBody()
        </main>

        <div class="editor-right-panel">
            <div class="histogram-container">
                <canvas id="histogramCanvas" width="256" height="100"></canvas>
            </div>

            <div class="info-block">
                <p>ƒ/1.8 · 1/500 · ISO 400 · 1600×800 px · png</p>
            </div>

            <div class="info-block">
                <div class="slider-group">
                    <div class="label_slider_container">
                        <label>Exposure</label>
                        <span id="exposure_value">0</span>
                    </div>

                    <input type="range" min="-100" max="100" value="0" class="slider" id="exposure_slider">
                </div>

                <div class="slider-group">
                    <div class="label_slider_container">
                        <label>Contrast</label>
                        <span id="contrast_value">0</span>
                    </div>

                    <input type="range" min="-100" max="100" value="0" class="slider" id="contrast_slider">
                </div>

                <div class="slider-group">
                    <div class="label_slider_container">
                        <label>Saturation</label>
                        <span id="saturation_value">0</span>
                    </div>

                    <input type="range" min="-100" max="100" value="0" class="slider" id="saturation_slider">
                </div>
            </div>
            </div>

        </div>
    <script src="~/js/editor.js"></script>

</body>
</html>

